<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">Restaurant</div>
    <ul class="footer-links">
      <li><a routerLink="/" fragment="home">Home</a></li>
      <li><a routerLink="/" fragment="menu-section">Menu</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/" fragment="googlemaps">Location</a></li>
      <li><a routerLink="/cart">Cart</a></li>
    </ul>
    <p class="footer-text">© 2026 Restaurant Project</p>
  </div>
</footer>
